/* Reset Style Sheet */
* {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    background-color:#00A2E0;
}

/*Body styles*/
body{
    margin: 0px 100px ;
    background-color: white;
    padding: 0px 50px;
}

/* Header Styles  */

header img{
    width: 100%;
    padding-top: 10px;
    
}

/* Main Styles */
main {
    padding: 20px;
}

/* Button styles*/
button {
    background-color: #00A2E0;
    border: none;
    color: white;
    padding:10px;
    border-radius: 10px;
}

#formButton{
    margin: 0 auto;
    display: block;
    padding: 20px 30px;
}


/*Header sytles */
h2 {
    color: #2638C4;
    font-size: 20px;
}

#rights h2{
    margin-top: 10px;
}

/* ul */
ul {
    padding: 10px 40px;
}

ul li::marker{
    
    color: #2638C4;
}

p {
    padding: 10px;
}

/*aside styles*/
aside{
    float: right;
    width: 50%;
    height: 100%;
}

/*resource styles*/
#resources{
    text-align: center;
    width: 50%;
}

#resources button{
    margin: 5px;
}

/*example styles*/
#example {
    text-align: center;
}

#example button{
    margin: 5px;
}

/*hr styles*/
.hr-wrapper{
    border-top: 3px dotted #2638C4;
    
}


/*p styles*/
#format p {
    margin-bottom: 5px;

}

#rights p{
    margin-bottom: 5px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 35%;
    height: 80px;
    padding-bottom: 5px;
    margin-top: 3%;
    
}

